.new{
	color: red;
}

.urgent{
	color:red;
}

.normal{
	color:black;
}

.basse{
	color:green;
}

ul li ul{
	display:none;
}

a{ 
   
}




ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

/* 
git clone ______
git add .
git commit -m "commentaire dans index"
git push origin master

then it's going to ask for the user name on github.com
and the password

 